<main class="min-h-screen relative">
      <%= image_tag 'main.jpg', class: 'w-full h-auto object-cover'%>
      <div class="absolute inset-0 flex flex-col items-center justify-center">
            <h1 class="text-white text-center font-extrabold text-4xl md:text-6xl">
                  Dockerfileの闇
            </h1>
            <p class="text-blue-400 text-center text-lg md:text-2xl mt-4">
                  こいつは、勝手に準備したfileから入れ替わりやがる.
            </p>
      </div>
</main>
