<header>
  <div>
    TailWid掲示板.
  </div>
  <nav>
    <ul>
      <li>
        <%= link_to '掲示板一覧', '#', class: '' %>
      </li>
      <li>
        <%= link_to 'ログイン', '#', class: '' %>
      </li>
    </ul>
  </nav>
</header>