<header class="bg-gray-900 mb-4 py-5 text-white">
  <div class="flex justify-between mx-auto container items-center">
    <div>
      <h1 class="taxt-4xl font-bold">TailWid掲示板.</h1>
    </div>
    <nav>
      <ul class="flex justify-between ">
        <li class="px-5">
          <%= link_to '掲示板一覧', '#', class: 'hover:text-green-200 transition-all duration-300' %>
        </li>
        <li class="px-5">
          <%= link_to 'ログイン', '#', class: 'hover:text-green-200 transition-all duration-300' %>
        </li>
      </ul>
    </nav>
  </divca¥>
</header>