<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.body %></p>
    <p>投稿者: <%= post.user.email %></p>
  </div>
<% end %>

<%= link_to '新規投稿', new_post_path if logged_in? %>
